@using MegaDesk;

@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Add Quote";

    Layout = "~/_Layout.cshtml";
    Page.Title = "Add Quote";

    Validation.RequireField("width", "You must enter a table width");
    Validation.RequireField("depth", "You must enter a table depth");
    Validation.RequireField("drawers", "You must enter an amount of drawers");
    Validation.RequireField("surfaceMaterial", "You must choose a surface material");
    Validation.RequireField("shippingSpeed", "You must choose a shipping speed");
    Validation.RequireField("customerName", "You must enter a customer name");

    var width = 24;
    var depth = 12;
    var drawers = 0;
    var surfaceMaterial = "";
    var shippingSpeed = "";
    var customerName = "";
    var total = 0.00m;

    if (IsPost && Validation.IsValid())
    {
        Desk desk = new Desk
        {
            Width = Int32.Parse(Request.Form["width"]),
            Depth = Int32.Parse(Request.Form["depth"]),
            Drawers = Int32.Parse(Request.Form["drawers"]),
            SurfaceMaterial = Request.Form["surfaceMaterial"]
        };

        DeskQuote deskQuote = new DeskQuote
        {
            Desk = desk,
            CustomerName = Request.Form["customerName"],
            ShippingSpeed = Request.Form["shippingSpeed"],
            QuoteDate = DateTime.Now,
            // TODO: Total
            Total = 0.00m
        };

        var db = Database.Open("QuoteDB");
        // insert into Desk database
        var insertCommand = "INSERT INTO Desk (Width, Depth, Drawers, SurfaceMaterial) Values(@0, @1, @2, @3)";
        db.Execute(insertCommand, desk.Width, desk.Depth, desk.Drawers, desk.SurfaceMaterial);
        // insert into Quotes database
        insertCommand = "INSERT INTO Quotes (ShippingSpeed, CustomerName, Date, Total) Values(@0, @1, @2, @3, @4, @5, @6, @7, @8)";
        db.Execute(insertCommand, width, depth, drawers, surfaceMaterial, shippingSpeed, customerName, DateTime.Now, total);
        Response.Redirect("~/Quotes");
    }
}

<h1>Add Quote</h1>
<form method="post">
    <fieldset>
        <legend>Order Desk Information</legend>
        <p>
            <label for="customerName">Name:</label>
            <input type="text" name="customerName" value="@customerName" />
        </p>
        <p>
            <label for="width">Width:</label>
            <input type="number" name="width" value="@width" min="24" max="96" />
        </p>
        <p>
            <label for="depth">Depth:</label>
            <input type="number" name="depth" value="@depth" min="12" max="48" />
        </p>
        <p>
            <label for="drawers">Number of Drawers:</label>
            <input type="number" name="drawers" value="@drawers" min="0" max="7" />
        </p>
        <p>
            <label for="surfaceMaterial">Surface Material:</label>
            @* TODO: @Html.DropDownList();*@
            <select name="surfaceMaterial">
                <option value="@surfaceMaterial" selected hidden>@surfaceMaterial</option>
                <option value="" hidden disabled></option>
                <option value="laminate">Laminate</option>
                <option value="oak">Oak</option>
                <option value="rosewood">Rosewood</option>
                <option value="veneer">Veneer</option>
                <option value="pine">Pine</option>
            </select>
        </p>
        <p>
            <label for="shippingSpeed">Shipping Speed:</label>
            <select name="shippingSpeed">
                <option value="@shippingSpeed" selected hidden>@shippingSpeed</option>
                <option value="" hidden disabled></option>
                <option value="3Day">Rush: 3 Days</option>
                <option value="5Day">Rush: 5 Days</option>
                <option value="7Day">Rush: 7 Days</option>
                <option value="14Day">Standard: 14 Days</option>
            </select>
        </p>
        <p>
            <label for="date">Date:</label>
            <div id="date">@DateTime.Now</div>
        </p>
        <p>
            <label for="total">Total:</label>
            <div id="total"></div>
        </p>
        <p><input type="submit" name="buttonSubmit" value="Add Quote" /></p>
    </fieldset>
</form>
<p>
    <a href="~/MegaDesk">Back to Main Menu</a>
</p>