@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Delete Quote";

    var customerName = "";
    var date = DateTime.Now;
    var total = "";
    var width = "";
    var depth = "";
    var drawers = "";
    var surfaceMaterial = "";
    var shippingSpeed = "";
    var quoteId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            quoteId = Request.QueryString["ID"];
            var db = Database.Open("QuoteDB");
            var dbCommand = "SELECT * FROM Quotes WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, quoteId);
            if (row != null)
            {
                customerName = row.CustomerName;
                date = row.Date;
                total = row.Total.ToString();
                width = row.Width.ToString();
                depth = row.Depth.ToString();
                drawers = row.Drawers.ToString();
                surfaceMaterial = row.SurfaceMaterial;
                shippingSpeed = row.ShippingSpeed;
            }
            else
            {
                Validation.AddFormError("No Quote was found for that ID.");
            }
        }
        else
        {
            Validation.AddFormError("No Quote was found for that ID.");
        }
    }

    if (IsPost && !Request["buttonDelete"].IsEmpty())
    {
        quoteId = Request.Form["quoteId"];
        var db = Database.Open("QuoteDB");
        var deleteCommand = "DELETE FROM Quotes WHERE ID = @0";
        db.Execute(deleteCommand, quoteId);
        Response.Redirect("~/ViewQuotes");
    }
}
<h1>Delete a Quote</h1>
@Html.ValidationSummary()
<p><a href="~/ViewQuotes.cshtml">Return to list of Quotes</a></p>

<form method="post">
    <fieldset>
        <legend>Quote Information</legend>

        <p>
            <span>Customer Name:</span>
            <span>@customerName</span>
        </p>

        <p>
            <span>Date:</span>
            <span>@date</span>
        </p>

        <p>
            <span>Total:</span>
            <span>@total</span>
        </p>

        <p>
            <span>Width:</span>
            <span>@width</span>
        </p>

        <p>
            <span>Depth:</span>
            <span>@depth</span>
        </p>

        <p>
            <span>Drawers:</span>
            <span>@drawers</span>
        </p>

        <p>
            <span>Surface Material:</span>
            <span>@surfaceMaterial</span>
        </p>

        <p>
            <span>Shipping Speed:</span>
            <span>@shippingSpeed</span>
        </p>

        <input type="hidden" name="quoteId" value="@quoteId" />
        <p><input type="submit" name="buttonDelete" value="Delete Quote" /></p>
    </fieldset>
    <p><a href="~/ViewQuotes.cshtml">Return to list of Quotes</a></p>
</form>