@{
    /**/

    Layout = "~/_Layout.cshtml";
    Page.Title = "Edit Quote";

    var customerName = "";
    var width = "";
    var depth = "";
    var drawers = "";
    var surfaceMaterial = ""; // enum - TODO
    var shippingSpeed = ""; // enum - TODO
    var date = DateTime.Now;
    var total = "";
    var quoteId = "";


    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            quoteId = Request.QueryString["ID"];
            var db = Database.Open("QuoteDB");
            var dbCommand = "SELECT * FROM Quotes WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, quoteId);

            if (row != null)
            {
                customerName = row.CustomerName;
                date = row.Date;
                width = row.Width.ToString();
                depth = row.Depth.ToString();
                drawers = row.Drawers.ToString();
                surfaceMaterial = row.SurfaceMaterial;
                shippingSpeed = row.ShippingSpeed;
                total = row.Total.ToString();
            }
            else
            {
                Validation.AddFormError("No quote was selected.");
            }
        }
        else
        {
            Validation.AddFormError("No quote was selected.");
        }
    }

    if (IsPost)
    {
        Validation.RequireField("customerName", "You must enter a customer name");
        Validation.RequireField("width", "Width is required");
        Validation.RequireField("depth", "Depth is required");
        Validation.RequireField("drawers", "Drawers are required");
        Validation.RequireField("surfaceMaterial", "A surface material is required");
        Validation.RequireField("shippingSpeed", "A shipping speed is required");
        Validation.RequireField("scriptureId", "No scripture ID was submitted!");

        customerName = Request.Form["customerName"];
        width = Request.Form["width"];
        depth = Request.Form["depth"];
        drawers = Request.Form["drawers"];
        surfaceMaterial = Request.Form["surfaceMaterial"];
        shippingSpeed = Request.Form["shippingSpeed"];
        total = Request.Form["total"];
        //date = Request.Form["date"];
        quoteId = Request.Form["scriptureId"];

        if (Validation.IsValid())
        {
            var db = Database.Open("QuoteDB");
            var updateCommand = "UPDATE Quotes SET CustomerName=@0, Width=@1, Depth=@2, Drawers=@3, SurfaceMaterial=@4, ShippingSpeed=@5, WHERE Id=@6";
            db.Execute(updateCommand, customerName, width, depth, drawers, surfaceMaterial, shippingSpeed, quoteId);
            Response.Redirect("~/ViewQuotes");
        }
    }
}

<h1>Edit Quote</h1>
<form method="post">
    <fieldset>
        <legend>Order Desk Information</legend>
        <p>
            <label for="customerName">Name:</label>
            <input type="text" name="customerName" value="@customerName"/>
        </p>
        <p>
            <label for="width">Width:</label>
            <input type="number" name="width" value="@width" min="24" max="96"/>
        </p>
        <p>
            <label for="depth">Depth:</label>
            <input type="number" name="depth" value="@depth" min="12" max="48"/>
        </p>
        <p>
            <label for="drawers">Number of Drawers:</label>
            <input type="number" name="drawers" value="@drawers" min="0" max="7"/>
        </p>
        <p>
            <label for="surfaceMaterial">Surface Material:</label>
            <select name="surfaceMaterial">
                <option value="@surfaceMaterial" selected hidden>@surfaceMaterial</option>
                <option value="laminate">Laminate</option>
                <option value="oak">Oak</option>
                <option value="rosewood">Rosewood</option>
                <option value="veneer">Veneer</option>
                <option value="pine">Pine</option>
            </select>
        </p>
        <p>
            <label for="shippingSpeed">Shipping Speed:</label>
            <select name="shippingSpeed">
                <option value="@shippingSpeed" selected hidden>@shippingSpeed</option>
                <option value="3Day">Rush: 3 Days</option>
                <option value="5Day">Rush: 5 Days</option>
                <option value="7Day">Rush: 7 Days</option>
                <option value="14Day">Standard: 14 Days</option>
            </select>
        </p>
        <p>
            <label for="date">Date:</label>
            <div id="date">@DateTime.Now</div>
        </p>
        <p>
            <label for="total">Total:</label>
            <div id="total">@total</div>
        </p>
        <p><input type="submit" name="buttonSubmit" value="Add Quote" /></p>
    </fieldset>
    <p><a href="~/ViewQuotes.cshtml">Return to list of Quotes</a></p>
</form>
